:root {
  --c-blue-dark: #2d537c;
  --c-blue-mid: #1ba3aa;
  --c-blue-bright: #00ead0;
  --c-pink-mid: #f84292;
  --c-pink-bright: #fc459e;
  --c-yellow-bright: #fdf4b7;
  --c-yellow-light: #f6f1cf;
  --c-mid: #97acb7;
  --c-dark: #232323;
  --c-caution: #f6b437;
  --c-highlight: #efc46c;
  --c-gray: #4e4c4c;
  --c-dark: #090b0c;
}

body {
  --background-color: #f6f6f6;
  --color: var(--c-dark);
}

.main-menu {
    .current-menu-item,
    .current_page_item {
        @apply underline;
    }
}